@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&display=swap");


html{
    min-height: 100%;
}
    

*{
    margin: 0.1em;
    padding: 0.0em;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}
body {
    background: #010f1a;  /* Your fixed background color */
    background-size: cover;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
}

#galaxy-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}


.nav1 img{
    height: 90px;
    width: 90px;
    margin-top: auto;
    cursor:pointer;
    transition: .5s ease-in-out;
}
.nav1 img:hover {
    transform: scale(1.1);
    
}
a {
    text-decoration: none;
    color: #fff;
    position: relative;
    transition: color 0.3s ease-in-out;
  }
  
 
  
  /* a:hover::before {
    text-decoration: underline;
    visibility: visible;
    transform: scaleX(1);
  } */

li {
    list-style: none;
}

#header .nav1 a{
    text-decoration: none;
    color: #fff;
    
    
}

li a {
    text-transform: uppercase;
    font-size: 0.7rem;

    
    font-weight: bold;
    
}

li a:hover {
    color: #ff7913;
  }
  
li a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ff7913;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
  }
header {
    position: relative;
    padding: 0 2rem;

}
div.intro #myname{
    display: flex;
    justify-content: center;
    align-items: center;
}
div.intro #mystyle{
    display: flex;
    /* justify-content: center;
    align-items: center; */
}
a.homebutton{
    color: #ff7700;
    font-weight: bold;
    background-color: rgba(255, 102, 0, 0.1); 
    padding: 8px 12px;
    border-radius: 10px;
}

a.homebutton:hover::before{
    /* text-decoration: dotted; */
    background-color: #ff6600;
}



#header h1 a {
    color: #ffffff;
    text-align: center;
    line-height: 3;
    display: inline-block;
    align-items: center;
    justify-content: center;
  }

  #header h2 {
    font-size: 24px;
    margin-top: 20px;
    color: #000000;
    align-items: center;
    justify-content: center;
    

  }

  #header h2 span {
    color: #ffc107;
    padding-left: 2px;
    align-items: center;
    justify-content: center;

  }
  
  .typing::after {
    content: "|"; 
    animation: blink-caret 0.75s infinite;
}

@keyframes blink-caret {
    50% {
        opacity: 0;
    }
}

.navbar {
    width: 100%;
    height: 40px;
    max-width: 1200px;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    

}
.navbar .links {
    display: flex;
    gap: 2rem

}

.navbar .toggle_btn {
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    display: none;
}
.action_btn{
    background-color: rgb(255, 119, 0);
    color: #fff;
    padding: 0.5rem;
    margin: 1rem;
    border: none;
    outline: none;
    border-radius: 12px;
    font-size: 0.6rem;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 0 1px rgb(255, 119, 0), 0 0 10px rgb(255, 119, 0);

}

.action_btn:hover{
    scale: 1.05;
    color: #fff;
    box-shadow: 0 0 5px rgb(255, 255, 255), 0 0 20px rgb(255, 255, 255);
    text-decoration: none;
    

}
.dropdownMenu{
    display: none;
    position: absolute;
    right: 2rem;
    top: 90px;
    width: 300px;
    height: 0;
    background: #ffffff1a;
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);

}
.dropdownMenu.open{
    height: 200px;
}
.dropdownMenu li{
    padding: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

.dropdownMenu .action_btn{
    width: 100%;
    display: flex;
    justify-content: center;

}

.personal-photo {
    position: relative;
    height: 200px;
    width: 210px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0%;
    margin-top: 4rem;
    margin-bottom: 1rm;
    background: #ff7700;
    border-radius: 50%;
    transition: .5s ease-in-out;
}
.personal-photo:hover {
    transform: scale(1.05);
    cursor: pointer;
    
}

 .social-links {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-links a {
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: hsla(0, 0%, 100%, 0.05);
    color: #fff;
    line-height: 1;
    margin-right: 10px; /* Slightly increased margin */
    border-radius: 50%;
    width: 38px;
    height: 38px;
    overflow: hidden;
    position: relative;
    transition: transform 0.3s  ease-in-out, box-shadow 0.3s ease;
}

.social-links a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    mix-blend-mode: screen;
}

.social-links a:hover {
    background: #ff7700; /* Hover color from your specification */
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.3); /* Hover shadow */
}




@media (max-width: 750px)
{
    .navbar .links, .navbar .action_btn{
        display: none;
    }

    .navbar .toggle_btn  {
        display: block;
    }
    .dropdownMenu{
        display: block;
        position: static;
    }
    .dropdownMenu.open{
        height: 300px;

    }
    
}

@media (max-width: 450px){
    .dropdownMenu{
        left: 2rem;
        width: unset;
        width: 100%;

        /* display: block;
        position: static;
        height: auto;
        /* backdrop-filter: none; */
        /* border-radius: 5px;
        overflow: visible; */ 
    }
    /* .navbar{
        display: none;
    } */

    .dropdownMenu.open{
        height: auto;
    }
    .navbar .links, .navbar .action_btn{
        display: none;
    }
    .navbar .toggle_btn {
        display: block;
    }
    .dropdownMenu{
        display: block
    }

}
@media (max-width: 992px) {
    #header h1 {
      font-size: 36px;
    }
    #header h2 {
      font-size: 20px;
      line-height: 30px;
    }
    #header .social-links {
      margin-top: 45px;
      
    }
    #header .container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
}

